{% extends 'login/index_login.html' %}
{% load static %}
<!DOCTYPE html>
{% block title %}Chat rooms{% endblock %}
{% block content %}
    <p>What chat room would you like to enter?</p><br>
    <div class="selectContainer">
        <label>
            <select id="room-name-input">

                <option Value="main">Main</option>
                <option Value="male">Males</option>
                <option Value="female">Females</option>
                <option Value="fashion">Fashion</option>
                <option Value="gaming">Gaming</option>
                <option value="social">Social</option>

            </select>
        </label>
    </div>
    <br>

        <input id="room-name-submit" type="submit"><br>
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function (e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
{% endblock %}

